.app-download {
  padding: 110px 30px;
  background: url(./../images/footing-bg-img.jpg) no-repeat center / cover;
  color: var(--clr-main-light);
}

.text-container {
  margin-bottom: 50px;
}

.app-textbox {
  margin: 10px 0;
  color: var(--clr-main-light);
}

.app-btn {
  padding: 18px 31px;
  border-radius: 10px;
  font-size: 16px;
  max-width: 200px;
}

.app-links-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.app-link-wrapper + .app-link-wrapper{
  padding-left: 16px;
}



@media screen and (max-width: 768px) {
  .app-text-clr {
    color: var(--clr-app-text-smallscreen);
  }
  .app-download {
    background: var(--clr-main-dark);
  }

  .app-btn {
    padding: 16px 22px;
    max-width: 160px;
  }
}

@media screen and (max-width: 375px) {
  .app-links-container {
    flex-direction: column;
    align-items: center;
  }
  .app-link-wrapper + .app-link-wrapper{
    padding-left: 0px;
    padding-top: 16px;
  }
}
