.app-info {
  padding: 72px 120px;
}
.app-header{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 44px;
  line-height: 1.2em;
  opacity: 0.8;
  color: var(--clr-app-header);
  margin-bottom: 30px;
  max-width: 60%;
}

.account-creation,
.account-exploration {
  display: flex;
  align-items: center;
}

.app-img-wrapper {
  width: 50%;
  text-align: center;
}

.app-info-text > * {
  margin-bottom: 7px;
}

@media screen and (min-width: 993px) {
  .fd-row-reverse {
    flex-direction: row-reverse;
  }

  .app-info-text {
    width: 50%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 992px) {
  .app-info {
    padding: 72px 30px;
  }
  .app-header{
    font-family: "Monserrat", sans-serif;
    font-size: 24px;
    line-height: 36px;
    opacity: 1;
    margin-bottom: 120px;
  }

  .account-creation {
    margin-bottom: 30px;
  }
  .account-creation,
  .account-exploration {
    flex-direction: column-reverse;
  }
 .app-info-text {
    text-align: center;
  }
  .app-info-text > * {
    margin-bottom: 30px;
  }
  .app-img-wrapper {
    width: 80%;
  }

  .info-img {
   max-width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .app-header{
    max-width: 280px;
  }
}