:root {
  --clr-secondary: #FA4A0C;
  --clr-main-light: #ffffff;
  --clr-text-light: #F6F6F6;
  --clr-app-text-smallscreen: #BDBDBD;
  --clr-copyright: #5c5c5c;
  --clr-text-dark: #737373;
  --clr-main-dark: #252B42;
  --clr-app-header: #000000;
  --text-max-lines: 5;
}
.img {
  width: inherit;
  display: block;
  margin: 0 auto;
}

.img-shadow {
  filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.21));
}

.img-wrapper {
  width: 100%;
}

.oneline-overflow,
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}

.oneline-overflow {
  white-space: nowrap;
}

.text-overflow {
  display: -webkit-box;
  -webkit-line-clamp: var(--text-max-lines); 
  -webkit-box-orient: vertical;
}

.text-center {
  text-align: center;
  margin: 0 auto;
}

.main-heading,
.sub-heading,
.text-preheading,
.link-text,
.btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.text-preheading {
  color: var(--clr-text-dark);
  font-size: 16px;
  line-height: 1.5em;
  max-width: 80%;
}

.main-heading {
  font-family: 'Poppins', sans-serif;
  font-size: 58px;
  line-height: 138%;
}


.sub-heading {
  font-size: 40px;
  line-height: 142%;
  color: var(--clr-main-dark);
}

.text-content {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5em;
  color: var(--clr-text-dark);

}

.btn {
  display: block;
  padding: 16px 40px;
  max-width: 260px;
  color: var(--clr-main-light);
  background-color: var(--clr-secondary);
  border: 1px solid var(--clr-secondary);
  font-size: 24px;
  line-height: 1.5em;
}

.btn-link {
  border-radius: 10px;
}

.btn,
.link-text {
  border-radius: 20px;
}

.btn-transparent {
  background-color: unset;
  border-color: var(--clr-main-light);
}

.link-text {
  display: inline-block;
  font-size: 24px;
  line-height: 1.5em;
  padding: 5px;
  color: var(--clr-secondary);
  text-transform: initial;
  margin: inherit;
  max-width: 300px;
}

.btn:hover,
.btn:focus {
  box-shadow: 0px 0px 20px 5px var(--clr-app-text-smallscreen);
  outline: none;
}

.btn-transparent:hover,
.btn-transparent:focus,
.link-text:hover,
.link-text:focus,
.btn-link:hover,
.btn-link:focus {
  box-shadow: 0px 0px 20px 5px var(--clr-secondary);
  outline: none;
}

.links-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.link-wrapper + .link-wrapper{
  padding-left: 34px;
}

@media screen and (max-width: 768px) {
  .text-preheading {
    font-size: 16px;
  }

  .main-heading {
    font-size: 36px;
  }

  .links-container {
    flex-direction: column;
    align-items: center;
  }

  .link-wrapper + .link-wrapper{
    padding-left: 0;
    padding-top: 17px;
  }

}

@media screen and (max-width: 413px) {
  .main-heading,
  .sub-heading {
    font-size: 28px;
  }
}