.site-header {
  padding: 26px 40px 26px 70px;
}

.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-wrapper {
  width: 100%;
}

.burger-wrapper {
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 8px;
}

.burger-wrapper:hover,
.burger-wrapper:focus {
  outline: none;
}

.burger-wrapper:active {
  transform: scale(0.99);
}

.logo-img {
  margin: 0;
}

@media screen and (max-width: 992px) {
  .site-header {
    padding: 16px;
  }
  .logo-wrapper {
    width: 50%;
  }
}